<h1 class="container text-primary w-50 text-center fw-bold">Contacts Book</h1>

<div class="d-flex flex-column justify-content-center text-center mb-3 p-3">
  <% if current_user %>
    <h3 class="text-center m-2">Welcome <%= current_user.email %>, </h3> 

    <h5 class="text-center m-2"> You have successfully loged in. </h5>

    <h4 class="text-center mt-4">Go to</h4>
    
    <p> 
      <%= link_to 'New Contact', new_contact_path, class:"btn btn-info m-2 border rounded-1 shadow lg-info border-1 border-primary" %> |
      <%= link_to "Contacts book", contacts_path, class:"btn btn-info m-2 border rounded-1 shadow lg-info border-1 border-primary" %>
    </p>

    



  <% else %>
    <p class="card border border-1 border-white d-flex text-center justify-content-center ">Welcome to Contacts Book <br/> This is a website where you can create a contacts list and not only that but you can also use our site to store passwords and links to websites or social media links.
      <h6 class="mt-5">Go ahead and click the link below to login or register if you haven't already.</h6>
      <%= link_to 'Sign In or Register', new_user_registration_path, class:"text-primary text-center fw-bold mt-5" %>
    </p>
  <% end %>

</div>