<h1>Editing Book Entry</h1>

<%= render "form", contact: @contact %>
<br>

<div >
  <%= link_to "Show entry", @contact, class:"btn btn-info m-2 border rounded-1 shadow lg-info border-1 border-primary" %> |
  <%= link_to "Back to book", contacts_path, class:"btn btn-info m-2 border rounded-1 shadow lg-info border-1 border-primary" %>
</div>
